/*Remove default height and margin from HTML and Body elements*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}
/*=====
 HERO
======*/
.hero {
  background-image: url('../imgs/night2.jpg');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  z-index: -2;
  color: black;
}
.headline {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
}
/*====
 ABOUT
======*/
.about {
  padding: 3em;
  background-color: white;
}
/*====
 Social
=====*/
input, textarea {
  display: block;
}
/*====
 Social
=====*/
.social {
  padding: 3em;
  padding-left: 14em;
  background-color: black;
}
